{% extends "StudiiFezabilitate/CU/base_CU_SF.html" %}



{% block body %}

<div class="container-fluid">
    <h3 class="m-4">Certificat de urbanism - <strong>{{lucrare.nume_intern}}</strong></h3>
    <div class="row">
        <div class="col-12">
            {% if certificat_urbanism %}

            <div class="card bg-light ms-4 me-4 mb-4">
                <div class="card-header d-flex align-items-center">
                    <i class="fa-solid fa-list fa-lg"></i>
                    <span class="ms-2">Certificat de urbanism pentru {{certificat_urbanism.lucrare.nume_intern}}</span>
                    <div class="flex-grow-1 d-flex justify-content-center">
                        <a class="btn btn-warning" href="{% url 'edit_CU' lucrare.id %}">
                            Editează Certificatul de urbanism
                        </a>
                    </div>
                </div>


                <!-- <div class="card-header">
                    <i class="fa-solid fa-list fa-lg"></i> Certificat de urbanism pentru
                    {{certificat_urbanism.lucrare.nume_intern}}
                    <a class="btn btn-warning me-1" href="{% url 'edit_CU' lucrare.id %}">
                        Editează CU
                    </a>
                </div> -->

                <div class="card-body">
                    <div class="row">
                        <div>
                            {% if avize %}
                            <div class="card border-primary ms-4 me-4 mb-4">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-list fa-lg me-2"></i>
                                        <span>Avize</span>
                                    </div>
                                    <a href="{% url 'add_Avize' lucrare.id %}" class="btn btn-primary">Adaugă aviz</a>
                                </div>


                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-sm table-avize" style="table-layout: fixed; width: 100%">
                                            <colgroup>
                                                <col style="width: 20%"><!-- Aviz -->
                                                <col style="width: 9%"><!-- GENEREAZĂ -->
                                                <col style="width: 8%"><!-- Depus -->
                                                <col style="width: 12%"><!-- Data depunerii -->
                                                <col style="width: 8%"><!-- Primit -->
                                                <col style="width: 30%"><!-- Detalii -->
                                                <col style="width: 13%"><!-- ACȚIUNI -->
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Aviz</th>
                                                    <th scope="col">GENEREAZĂ</th>
                                                    <th scope="col">Depus</th>
                                                    <th scope="col">Data depunerii</th>
                                                    <th scope="col">Primit</th>
                                                    <th scope="col">Detalii</th>
                                                    <th scope="col" class="text-center">ACȚIUNI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for aviz in avize %}
                                                <tr>
                                                    <td>
                                                        {% if aviz.is_overdue %}
                                                        <span class="text-danger">{{ aviz.nume_aviz }}</span>
                                                        {% else %}
                                                        {{ aviz.nume_aviz }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary me-1 btn-sm" href="{% url 'genereaza_aviz' lucrare.id aviz.id %}">
                                                            Generează
                                                        </a>
                                                    </td>
                                                    <td>{% if aviz.depus %}✅ Da{% else %}❌ Nu{% endif %}</td>
                                                    <td>{{aviz.data_depunere|date:"d.m.Y"}}</td>
                                                    <td>{% if aviz.primit %}✅ Da{% else %}❌ Nu{% endif %}</td>
                                                    <td>{{ aviz.descriere_aviz }}</td>
                                                    <td class="text-end">
                                                        <button type="button" class="btn btn-success me-1 btn-sm" data-bs-toggle="modal" data-bs-target="#myModal{{aviz.id}}">
                                                            <i class="fa-solid fa-circle-info fa-lg"></i>
                                                        </button>

                                                        <!-- Modal - View Lucrare -->
                                                        <div class="modal" id="myModal{{aviz.id}}" tabindex="-1" aria-labelledby="myModalLabel{{aviz.id}}" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="myModalLabel{{aviz.id}}">
                                                                            Aviz: {{aviz.nume_aviz}} pentru
                                                                            {{aviz.certificat_urbanism.lucrare.nume_intern}}
                                                                        </h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <ul class="list-unstyled">
                                                                            <li> Depus: <strong>
                                                                                    {% if aviz.depus == True %}✅
                                                                                    Da
                                                                                    {% else %} ❌ Nu
                                                                                    {% endif %}
                                                                                </strong>
                                                                            </li>
                                                                            <li> Data depunere:
                                                                                <strong>{{aviz.data_depunere|date:"d.m.Y"}}</strong>
                                                                            </li>
                                                                            <li> Primit: <strong>
                                                                                    {% if aviz.primit == True %}✅
                                                                                    Da
                                                                                    {% else %} ❌ Nu
                                                                                    {% endif %}
                                                                                </strong>
                                                                                </strong></li>
                                                                            <li> Număr aviz:
                                                                                <strong>{{aviz.numar_aviz}}</strong>
                                                                            </li>
                                                                            <li> Data aviz:
                                                                                <strong>{{aviz.data_aviz|date:"d.m.Y"}}</strong>
                                                                            </li>
                                                                            <li> Cost net:
                                                                                <strong>{{ aviz.cost_net }}</strong>
                                                                            </li>
                                                                            <li> Cost TVA:
                                                                                <strong>{{ aviz.cost_tva }}</strong>
                                                                            </li>
                                                                            <li> Cost Total:
                                                                                <strong>{{ aviz.cost_total }}</strong>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Închide</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- aici se termina modalul -->


                                                        <!-- aici e butonul pentru a edita -->

                                                        <a class="btn btn-warning me-1 btn-sm" href="{% url 'edit_aviz' lucrare.id aviz.id %}">Editează
                                                        </a>

                                                        <!-- aici e butonul pentru a sterge -->

                                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{aviz.id}}">
                                                            <i class="fa-solid fa-trash-can fa-lg"></i>
                                                        </button>

                                                        <!-- Modal - Delete Lucrare -->
                                                        <div class="modal" id="delete{{aviz.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{aviz.id}}" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteModalLabel{{aviz.id}}">
                                                                            {{aviz.nume_aviz}} pentru
                                                                            {{aviz.certificat_urbanism.lucrare.nume_intern}}
                                                                        </h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Închide">
                                                                            <span aria-hidden="true"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p> Ești sigur că vrei să ștergi avizul?

                                                                        </p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form action="{% url 'delete_aviz' lucrare.id aviz.id %}" method="POST">
                                                                            {% csrf_token %}
                                                                            <button type="submit" class="btn btn-danger">Șterge</button>
                                                                        </form>
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Renunță</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="alert alert-primary ms-4 me-4 mb-4 d-flex align-items-center">
                                <span class="mb-0">Nu sunt avize asociate acestei lucrări</span>
                                <a href="{% url 'add_Avize' lucrare.id %}" class="btn btn-primary ms-auto">Adaugă aviz</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 p-3">
                            <form>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="d-flex w-100">
                                            <label for="staticNumar" class="col-form-label me-2 mb-0" style="white-space: nowrap;">Număr CU</label>
                                            <input type="text" readonly class="form-control-plaintext" id="staticNumar" value="{{certificat_urbanism.numar}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="d-flex w-100">
                                            <label for="staticData" class="col-form-label me-2 mb-0" style="white-space: nowrap;">Data CU</label>
                                            <input type="text" readonly class="form-control-plaintext" id="staticData" value="{{ certificat_urbanism.data|date:'d.m.Y' }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="d-flex w-100">
                                            <label for="staticEmitent" class="col-form-label me-2 mb-0" style="white-space: nowrap;">Emitent CU</label>
                                            <input type="text" readonly class="form-control-plaintext" id="staticEmitent" value="{{certificat_urbanism.emitent}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticValabilitate" class="col-sm-3 col-form-label">Valabilitate
                                        CU</label>
                                    <div class="col-sm-9">
                                        <div class="form-control-plaintext" id="staticValabilitate">
                                            {{ certificat_urbanism.valabilitate }} luni
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticNume" class="col-sm-3 col-form-label">Nume lucrare</label>
                                    <div class="col-sm-9">
                                        <textarea readonly class="form-control-plaintext" id="staticNume" rows="5" style="resize: vertical;">{{certificat_urbanism.nume}}</textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticNume" class="col-sm-3 col-form-label">Adresa lucrare</label>
                                    <div class="col-sm-9">
                                        <textarea readonly class="form-control-plaintext" id="staticNume" rows="5" style="resize: vertical;">{{certificat_urbanism.adresa}}</textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticInginerIntocmit" class="col-sm-3 col-form-label">Inginer
                                        întocmit</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" id="staticInginerIntocmit" value="{{certificat_urbanism.inginer_intocmit}}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticInginerVerificat" class="col-sm-3 col-form-label">Inginer
                                        verificat</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" id="staticInginerVerificat" value="{{certificat_urbanism.inginer_verificat}}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticSuprafataOcupata" class="col-sm-3 col-form-label">Suprafața
                                        ocupată
                                        (m2)</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" id="staticSuprafataOcupata" value="{{certificat_urbanism.suprafata_ocupata}}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticLungimeTraseu" class="col-sm-3 col-form-label">Lungime traseu
                                        (m)</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" id="staticLungimeTraseu" value="{{certificat_urbanism.lungime_traseu}}">
                                    </div>
                                </div>

                                <!-- Cale CU -->
                                {% with label="Cale CU" file_field=certificat_urbanism.cale_CU field_name="cale_CU" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Plan încadrare CU -->
                                {% with label="Cale Plan încadrare CU" file_field=certificat_urbanism.cale_plan_incadrare_CU field_name="cale_plan_incadrare_CU" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Plan de situație CU -->
                                {% with label="Cale Plan situație CU" file_field=certificat_urbanism.cale_plan_situatie_CU field_name="cale_plan_situatie_CU" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Memoriu tehnic CU -->
                                {% with label="Cale Memoriu tehnic CU" file_field=certificat_urbanism.cale_memoriu_tehnic_CU field_name="cale_memoriu_tehnic_CU" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Acte beneficiar -->
                                {% with label="Cale Acte beneficiar" file_field=certificat_urbanism.cale_acte_beneficiar field_name="cale_acte_beneficiar" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Acte facturare -->
                                {% with label="Cale Acte facturare" file_field=certificat_urbanism.cale_acte_facturare field_name="cale_acte_facturare" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Chitanta APM -->
                                {% with label="Cale Chitanță APM" file_field=certificat_urbanism.cale_chitanta_APM field_name="cale_chitanta_APM" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Plan situație la scară -->
                                {% with label="Cale Plan situație la scară (opțional)" file_field=certificat_urbanism.cale_plan_situatie_la_scara field_name="cale_plan_situatie_la_scara" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Plan situație în format DWG -->
                                {% with label="Cale Plan situație în format DWG (opțional)" file_field=certificat_urbanism.cale_plan_situatie_DWG field_name="cale_plan_situatie_DWG" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Extrase CF -->
                                {% with label="Cale Extrase CF" file_field=certificat_urbanism.cale_extrase_CF field_name="cale_extrase_CF" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Aviz GiS -->
                                {% with label="Cale Aviz GiS" file_field=certificat_urbanism.cale_aviz_GIS field_name="cale_aviz_GIS" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}

                                <!-- Cale Chitanță DSP -->
                                {% with label="Cale Chitanță DSP" file_field=certificat_urbanism.cale_chitanta_DSP field_name="cale_chitanta_DSP" %}
                                {% include "StudiiFezabilitate/CU/_file_download_link.html" %}
                                {% endwith %}




                            </form>
                            <!-- aici pun avizele -->

                        </div>
                        <div class="col-md-6 p-3">
                            <form>
                                <div class="row mb-3">
                                    <label for="staticDescriereaProiectului" class="col-form-label">Descrierea
                                        proiectului</label>
                                    <div>
                                        <textarea readonly class="form-control-plaintext" id="staticDescriereaProiectului" rows="30" style="resize: vertical;">{{certificat_urbanism.descrierea_proiectului}}</textarea>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>

            {% else %}
            <div class="alert alert-primary ms-4 me-4 mb-4 d-flex align-items-center justify-content-between">
                <span>Nu avem Certificat de urbanism pentru aceasta lucrare</span>
                <div class="flex-grow-1 d-flex justify-content-center">
                    <a href="{% url 'add_CU' lucrare.id %}" class="btn btn-primary">Adaugă certificat de urbanism</a>
                </div>
            </div>


            {% endif %}

        </div>
    </div>
</div>

{% endblock %}