{% extends "CU/base.html" %}

{% block body %}

<div class="container-fluid">
    <h3 class="m-4">Certificat de urbanism - <strong>{{lucrare.nume_intern}}</strong></h3>
    <div class="row">
        <div class="col-12">
            {% if certificat_urbanism %}

            <div class="card bg-light ms-4 me-4 mb-4">
                <div class="card-header d-flex align-items-center">
                    <i class="fa-solid fa-list fa-lg"></i>
                    <span class="ms-2">Certificat de urbanism pentru {{certificat_urbanism.lucrare.nume_intern}}</span>
                    <div class="flex-grow-1 d-flex justify-content-center">
                        <a class="btn btn-warning" href="{% url 'edit_CU' lucrare.id %}">
                            Editează Certificatul de urbanism
                        </a>
                    </div>
                </div>


                <!-- <div class="card-header">
                    <i class="fa-solid fa-list fa-lg"></i> Certificat de urbanism pentru
                    {{certificat_urbanism.lucrare.nume_intern}}
                    <a class="btn btn-warning me-1" href="{% url 'edit_CU' lucrare.id %}">
                        Editează CU
                    </a>
                </div> -->

                <div class="card-body">
                    <div class="row">
                        <div>
                            {% if avize %}
                            <div class="card border-primary ms-4 me-4 mb-4">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-list fa-lg me-2"></i>
                                        <span>Avize</span>
                                    </div>
                                    <form action="{% url 'add_Avize' lucrare.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Adaugă aviz</button>
                                    </form>
                                </div>


                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Aviz</th>
                                                    <th scope="col">GENEREAZĂ</th>
                                                    <th scope="col">Depus</th>
                                                    <th scope="col">Data depunerii</th>
                                                    <th scope="col">Primit</th>
                                                    <th scope="col">ACȚIUNI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for aviz in avize %}
                                                <tr>
                                                    <td>{{aviz.nume_aviz}}</td>
                                                    <td>
                                                        <a class="btn btn-primary me-1"
                                                            href="{% url 'genereaza_aviz' lucrare.id aviz.id %}">
                                                            Generează Aviz
                                                        </a>
                                                    </td>
                                                    <td>{{aviz.depus}}</td>
                                                    <td>{{aviz.data_depunere}}</td>
                                                    <td>{{aviz.primit}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success me-1"
                                                            data-bs-toggle="modal" data-bs-target="#myModal{{aviz.id}}">
                                                            <i class="fa-solid fa-circle-info fa-lg"></i>
                                                        </button>

                                                        <!-- Modal - View Lucrare -->
                                                        <div class="modal" id="myModal{{aviz.id}}" tabindex="-1"
                                                            aria-labelledby="myModalLabel{{aviz.id}}"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">
                                                                            Aviz: {{aviz.nume_aviz}} pentru
                                                                            {{aviz.certificat_urbanism.lucrare.nume_intern}}
                                                                        </h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <ul class="list-unstyled">
                                                                            <li> Depus: <strong>
                                                                                    {% if aviz.depus == True %}✅
                                                                                    Da
                                                                                    {% else %} ❌ Nu
                                                                                    {% endif %}
                                                                                </strong>
                                                                            </li>
                                                                            <li> Data depunere:
                                                                                <strong>{{aviz.data_depunere}}</strong>
                                                                            </li>
                                                                            <li> Primit: <strong>
                                                                                    {% if aviz.primit == True %}✅
                                                                                    Da
                                                                                    {% else %} ❌ Nu
                                                                                    {% endif %}
                                                                                </strong>
                                                                                </strong></li>
                                                                            <li> Număr aviz:
                                                                                <strong>{{aviz.numar_aviz}}</strong>
                                                                            </li>
                                                                            <li> Data aviz:
                                                                                <strong>{{aviz.data_aviz}}</strong>
                                                                            </li>
                                                                            <li> Cost net:
                                                                                <strong>{{ aviz.cost_net }}</strong>
                                                                            </li>
                                                                            <li> Cost TVA:
                                                                                <strong>{{ aviz.cost_tva }}</strong>
                                                                            </li>
                                                                            <li> Cost Total:
                                                                                <strong>{{ aviz.cost_total }}</strong>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary"
                                                                            data-bs-dismiss="modal">Închide</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- aici se termina modalul -->


                                                        <!-- aici e butonul pentru a edita -->

                                                        <a class="btn btn-warning me-1"
                                                            href="{% url 'edit_aviz' lucrare.id aviz.id %}">Editează
                                                        </a>

                                                        <!-- aici e butonul pentru a sterge -->

                                                        <button type="button" class="btn btn-danger"
                                                            data-bs-toggle="modal" data-bs-target="#delete{{aviz.id}}">
                                                            <i class="fa-solid fa-trash-can fa-lg"></i>
                                                        </button>

                                                        <!-- Modal - Delete Lucrare -->
                                                        <div class="modal" id="delete{{aviz.id}}" tabindex="-1"
                                                            aria-labelledby="#myModalLabel1{{aviz.id}}"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">
                                                                            {{aviz.nume_aviz}} pentru
                                                                            {{aviz.certificat_urbanism.lucrare.nume_intern}}
                                                                        </h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Închide">
                                                                            <span aria-hidden="true"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p> Ești sigur că vrei să ștergi avizul?

                                                                        </p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form
                                                                            action="{% url 'delete_aviz' lucrare.id aviz.id %}"
                                                                            method="POST">
                                                                            {% csrf_token %}
                                                                            <button type="submit"
                                                                                class="btn btn-danger">Șterge</button>
                                                                        </form>
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Renunță</button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    </p>
                                </div>
                            </div>
                            {% else %}
                            <div class="alert alert-primary ms-4 me-4 mb-4"> Nu sunt avize asociate acestei lucrări
                                <form action="{% url 'add_Avize' lucrare.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Adaugă aviz</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 p-3">
                            <form>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="d-flex w-100">
                                            <label for="staticNumar" class="col-form-label me-2 mb-0"
                                                style="white-space: nowrap;">Număr CU</label>
                                            <input type="text" readonly class="form-control-plaintext" id="staticNumar"
                                                value="{{certificat_urbanism.numar}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="d-flex w-100">
                                            <label for="staticData" class="col-form-label me-2 mb-0"
                                                style="white-space: nowrap;">Data CU</label>
                                            <input type="text" readonly class="form-control-plaintext" id="staticData"
                                                value="{{certificat_urbanism.data}}">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="d-flex w-100">
                                            <label for="staticEmitent" class="col-form-label me-2 mb-0"
                                                style="white-space: nowrap;">Emitent CU</label>
                                            <input type="text" readonly class="form-control-plaintext"
                                                id="staticEmitent" value="{{certificat_urbanism.emitent}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticValabilitate" class="col-sm-3 col-form-label">Valabilitate
                                        CU</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext"
                                            id="staticValabilitate" value="{{certificat_urbanism.valabilitate}}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticNume" class="col-sm-3 col-form-label">Nume lucrare</label>
                                    <div class="col-sm-9">
                                        <textarea readonly class="form-control-plaintext" id="staticNume" rows="5"
                                            style="resize: vertical;">{{certificat_urbanism.nume}}</textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticNume" class="col-sm-3 col-form-label">Adresa lucrare</label>
                                    <div class="col-sm-9">
                                        <textarea readonly class="form-control-plaintext" id="staticNume" rows="5"
                                            style="resize: vertical;">{{certificat_urbanism.adresa}}</textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticInginerIntocmit" class="col-sm-3 col-form-label">Inginer
                                        întocmit</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext"
                                            id="staticInginerIntocmit" value="{{certificat_urbanism.inginer_intocmit}}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticInginerVerificat" class="col-sm-3 col-form-label">Inginer
                                        verificat</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext"
                                            id="staticInginerVerificat"
                                            value="{{certificat_urbanism.inginer_verificat}}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticSuprafataOcupata" class="col-sm-3 col-form-label">Suprafața
                                        ocupată
                                        (m2)</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext"
                                            id="staticSuprafataOcupata"
                                            value="{{certificat_urbanism.suprafata_ocupata}}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="staticLungimeTraseu" class="col-sm-3 col-form-label">Lungime traseu
                                        (m)</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext"
                                            id="staticLungimeTraseu" value="{{certificat_urbanism.lungime_traseu}}">
                                    </div>
                                </div>

                                <!-- Cale CU -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale CU
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_CU %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_CU' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_CU }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Plan încadrare CU -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Plan încadrare CU
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_plan_incadrare_CU %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_plan_incadrare_CU' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_plan_incadrare_CU }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Plan de situație CU -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Plan situație CU
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_plan_situatie_CU %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_plan_situatie_CU' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_plan_situatie_CU }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Memoriu tehnic CU -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Memoriu tehnic CU
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_memoriu_tehnic_CU %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_memoriu_tehnic_CU' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_memoriu_tehnic_CU }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Acte beneficiar -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Acte beneficiar
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_acte_beneficiar %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_acte_beneficiar' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_acte_beneficiar }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Acte facturare -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Acte facturare
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_acte_facturare %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_acte_facturare' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_acte_facturare }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Chitanta APM -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Chitanță APM
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_chitanta_APM %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_chitanta_APM' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_chitanta_APM }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Plan situație la scară -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Plan situație la scară (opțional)
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_plan_situatie_la_scara %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_plan_situatie_la_scara' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_plan_situatie_la_scara }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Plan situație în format DWG -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Plan situație în format DWG (opțional)
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_plan_situatie_DWG %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_plan_situatie_DWG' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_plan_situatie_DWG }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Extrase CF -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Extrase CF
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_extrase_CF %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_extrase_CF' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_extrase_CF }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Aviz GiS -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Aviz GiS
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_aviz_GIS %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_aviz_GIS' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_aviz_GIS }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Cale Chitanță DSP -->
                                <div class="row mb-3">
                                    <label for="staticCaleCU" class="col-sm-3 col-form-label">
                                        Cale Chitanță DSP
                                    </label>
                                    <div class="col-sm-9">
                                        {% if certificat_urbanism.cale_chitanta_DSP %}
                                        <i class="far fa-file-pdf text-danger me-2"></i>
                                        <a href="{% url 'download_file' 'certificaturbanism' 'cale_chitanta_DSP' lucrare.id %}"
                                            class="text-decoration-none">
                                            {{ certificat_urbanism.cale_chitanta_DSP }}
                                            <i class="fas fa-download ms-1 small"></i>
                                        </a>
                                        {% else %}
                                        <span class="text-muted">Nu este fișier</span>
                                        {% endif %}
                                    </div>
                                </div>




                            </form>
                            <!-- aici pun avizele -->

                        </div>
                        <div class="col-md-6 p-3">
                            <form>
                                <div class="row mb-3">
                                    <label for="staticDescriereaProiectului" class="col-form-label">Descrierea
                                        proiectului</label>
                                    <div>
                                        <textarea readonly class="form-control-plaintext"
                                            id="staticDescriereaProiectului" rows="30"
                                            style="resize: vertical;">{{certificat_urbanism.descrierea_proiectului}}</textarea>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>

            {% else %}
            <div class="alert alert-primary ms-4 me-4 mb-4 d-flex align-items-center justify-content-between">
                <span>Nu avem Certificat de urbanism pentru aceasta lucrare</span>
                <form action="{% url 'add_CU' lucrare.id %}" method="POST"
                    class="flex-grow-1 d-flex justify-content-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Adaugă certificat de urbanism</button>
                </form>
            </div>


            {% endif %}

        </div>
    </div>
</div>

{% endblock %}